<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSchemaName" value="true" />
        <option name="addSerializeUid" value="true" />
        <option name="checkBlobColumn" value="true" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="javaMapperPackage" value="com.snail.abell.projectPage.entity" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/galloping-ui/src/main/java" />
        <option name="javaModelPackage" value="com.snail.abell.projectPage.entity" />
        <option name="javaModelPath" value="$PROJECT_DIR$/galloping-ui/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="galloping-ui" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="mapperAnnotaion" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="galloping-system">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.snail.abell.projectPage.entity" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/galloping-system/src/main/java" />
                  <option name="javaModelPacakge" value="com.snail.abell.projectPage.entity" />
                  <option name="javaModelPath" value="D:\GallopingSanils\galloping-system\src\main\java" />
                  <option name="javaServiceInterfacePackage" value="com.snail.abell.projectPage.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/galloping-system/src/main/java" />
                  <option name="javaServicePackage" value="com.snail.abell.projectPage.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/galloping-system/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/galloping-system/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="galloping-ui">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.snail.abell.projectPage.entity" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/galloping-ui/src/main/java" />
                  <option name="javaModelPacakge" value="com.snail.abell.projectPage.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/galloping-ui/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.snail.abell.projectPage.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/galloping-ui/src/main/java" />
                  <option name="javaServicePackage" value="com.snail.abell.projectPage.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/galloping-ui/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/galloping-ui/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="mybatisPlusStaticField" value="false" />
        <option name="noJdbcType" value="true" />
        <option name="p3CComment" value="true" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="galloping_snail:case_param">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="CaseParam" />
                  <option name="moduleName" value="galloping-ui" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="galloping_snail:case_step">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="CaseStep" />
                  <option name="moduleName" value="galloping-system" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="galloping_snail:project">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="Project" />
                  <option name="moduleName" value="galloping-system" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="galloping_snail:t_env">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="TEnv" />
                  <option name="moduleName" value="galloping-ui" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="galloping_snail:t_step_ui_new">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="TStepUiNew" />
                  <option name="moduleName" value="galloping-system" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="galloping_snail:team_group">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="team_id" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="TeamGroup" />
                  <option name="methodNameList">
                    <list>
                      <option value="" />
                    </list>
                  </option>
                  <option name="moduleName" value="galloping-system" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useSwagger" value="true" />
        <option name="userMybatisPlus" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/galloping-ui/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>